.list {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    height: 60%;
    width: 80%;
    font-size: 2rem;
    padding: 50px 30px ;
    list-style: none;
    background-color: rgb(77, 144, 211, 0.3);
    border-radius: 20px;
    box-shadow: 7px 3px 10px rgb(216, 170, 118);
    
}