.task {
    text-decoration: line-through;
}

.listItem {
    margin: 10px ;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.listItem input{
    margin-right: 1rem;
}

.listItem:hover {
    background: rgba(41, 120, 224, 0.6);
    border-radius: 0px 10px;
    width: 50vh;
    transform-style: preserve-3d;
    perspective: 100px;
    transform: translate3d(10px, 1px, 10px);
    transition: all 0.75s;

}